@import './base.css';

html,
body {
  /* Prevent any horizontal scrolling on the main page */
  overflow-x: hidden;
  /* Ensure the app takes up the full screen */
  height: 100%;
  width: 100%;
}

#app {
  height: 100%;
  width: 100%;
  font-weight: normal;
}

/* Custom Scrollbar Styles */

/* For Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: var(--color-border) var(--color-background);
}

/* For Webkit-based browsers (Chrome, Safari, etc.) */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: var(--color-background);
}

::-webkit-scrollbar-thumb {
  background-color: var(--color-border);
  border-radius: 10px;
  border: 2px solid var(--color-background);
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--color-border-hover);
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}
